// ---------------------------------------------------------------------------------------------------------------------
// FAQ
// ---------------------------------------------------------------------------------------------------------------------

.mod_faqpage {
    section {
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.mod_faqlist {
    ol {
        list-style: decimal;
        padding-left: 25px;
        line-height: 1.4;
        margin-bottom: 1rem;

        > li:first-child {
            margin-left: -2px;
            text-indent: 2px;
        }
    }
    li {
        margin-bottom: 15px;
    }

    a {
        @extend %link-half-underline;
        line-height: 30px;

        &:after {
            width: 75px;
            right: auto;
        }
        &:hover {
            &:after{
                width: 100%
            }
        }
    }
}