// ---------------------------------------------------------------------------------------------------------------------
// Common Definitions
// All universal styles related to theme
// ---------------------------------------------------------------------------------------------------------------------

.invisible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    visibility: visible;
}

/* warning box for older IE versions (see fe_page) */
#stopIE {
    background: #cd0000;
    padding: 50px; color: #fff;
    font-weight: 800;
    text-align: center;
    position: relative;
    z-index: 10000;
    width: 100%;
    display: block;
}

mark {
    background-color: transparent;
}